body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #ff9b33;
  color: white;
  padding: 10px 100px;
}

.logo {
  font-weight: 600;
}

.nav-links {
  display: flex;
  margin-top: 18px;
  font-size: large;
}

.links {
  text-decoration: none;
  color: white;
  margin: 1;
}

.links:hover {
  color: black;
}

/* Homepage */
.homepage {
  text-align: center;
  margin-top: 100px;
}

.secret {
  text-align: center;
  margin-top: 150px;
}
